{% extends 'base.html' %} 

{% load static %}

{% block content %} 
<div class="container">
    {% if infos %}
        {% for info in infos %}
            <div class="media mt-5 mb-3" style="width: 60%;">
                <div class="media-body">
                    {% if info.photo %}
                            <img 
                                class="d-flex mr-3 mt-1"
                                src="{{ info.photo.url }}" 
                                alt=""
                                height="200"
                            >
                        {% endif %}
                    <h5>
                        {{ info.title }}
                    </h5>
                    <p>{{ info.date_created }}</p>
                    <hr>
                    <p>{{ info.content }}</p>
                    <a href="{% url 'information' info.id %}">Read More</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="col-md-12">
        <p>
            Aucune Information disponible
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}