{% extends 'base.html' %} 

{% load static %}

{% block content %} 
<div class="container">
    {% if info %}
            <div class="media mt-5 mb-3 w-75">
                <div class="media-body">
                    {% if info.photo %}
                        <img 
                            class="d-flex mr-3 mt-1"
                            src="{{ info.photo.url }}" 
                            alt=""
                            height="300"
                        >
                    {% endif %}
                    <h5 class="my-1">
                        {{ info.title }}
                    </h5>
                    <p class="my-1">{{ info.date_created }}</p>
                    <hr class="m-0">
                    <p>{{ info.content }}</p>
                </div>
            </div>
    {% else %}
    <div class="col-md-12">
        <p>
            Aucune Information disponible
        </p>
    </div>
    {% endif %}
</div>

{% endblock %}