{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 sticky-top">
  <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li 
                {% if '/' == request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                  <a href="{% url 'index' %}" class="nav-link">Accueil</a>
              </li>
              <li 
                {% if 'informations' in request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'informations' %}">Plus d'Informations</a>
              </li>
              <li 
                {% if 'about' in request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                <a href="{% url 'about' %}" class="nav-link">A propos</a>
              </li>
              {% if user.is_authenticated %}
              <li
                {% if 'formulaire' in request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                  <a href="{% url 'formulaire' %}" class="nav-link">
                    Formulaire
                  </a>
              </li>
              {% endif %}
            </ul>

          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li
                {% if 'dashboard' in request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                  <a href="{% url 'dashboard' %}" class="nav-link">
                    Mon Compte
                  </a>
              </li>
              <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" 
                  class="nav-link">
                  <i class="fas fa-sign-out-alt"></i>
                  Logout
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
              </li>
            {% else %}
              <li
                {% if 'register' in request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                  <a href="{% url 'register' %}" class="nav-link">
                    <i class="fas fa-user-plus"></i>
                    Enregistrer
                  </a>
              </li>
              <li 
                {% if 'login' in request.path %}
                  class="nav-item active px-2"
                {% else %}
                  class="nav-item px-2"
                {% endif %}
              >
                  <a href="{% url 'login' %}" class="nav-link">
                    <i class="fas fa-sign-in-alt"></i>
                    Connecter
                  </a>
              </li>
            {% endif %}
          </ul> 
      </div>
  </div>
</nav> 