{% extends 'base.html' %} 

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if infos %}
                {% for info in infos %}
                    <div class="media mt-5 mb-3">
                        <div class="media-body">
                            {% if info.photo %}
                                <img 
                                    class="d-flex mr-3 mt-1"
                                    src="{{ info.photo.url }}" 
                                    alt=""
                                    height="200"
                                >
                            {% endif %}
                            <h5 class="my-1">
                                {{ info.title }}
                            </h5>
                            <p class="my-1">{{ info.date_created }}</p>
                            <hr class="m-0">
                            <p>{{ info.content }}</p>
                            <a href="{% url 'information' info.id %}">Read More</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>
                    Pas d'Informations disponibles
                </p>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div id="rendezvous" class="mt-5 ml-3">
                <h1 class="ml-3">Rendez vous</h1>
                <div style="width: 300px; display: flex; flex-wrap: wrap;">
                    {% if jours %}
                        {% for jour in jours %}
                            <button class="btn btn-dark date ml-3 my-2"
                                data-toggle="modal" 
                                data-target="#toConfModal"
                                data-url="{% url 'jour_rendezvous' jour.id %}"
                                >{{ jour.day }}
                            </button>
                        {% endfor %}
                    {% else %}
                        <p class="m-2">Aucun rendez-vous disponible</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal fade" 
            id="toConfModal" 
            tabindex="-1" role="dialog"
            aria-labelledby="toConfModalLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog" role="document"> 
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Confirmer Rendez-vous</h5>
                        <button 
                            class="close" 
                            type="button" 
                            data-dismiss="modal"
                            aria-labelledby="Close"
                            >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Clicker sur Confirmer pour continuer. Si vous aviez déjà un rendez-vous, il sera remplacé automatiquement
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Annuler</button>
                        <button href="" id="confirm" class="btn btn-dark">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}